#ajaxTree {
  border: 1px solid #9f9f9f;
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    li {
      color: #9f9f9f;
      margin: 0;
      list-style: none;
      padding: 5px 30px;
      position: relative;
      span {
        margin-left: 15px;
        //vertical-align: middle;
      }
      a {
        //vertical-align: middle;
        cursor: pointer;
        float: left;
        border: solid 5px #9f9f9f;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
      }
    }
    [data-expand="true"] {
      > a {
        border: solid 5px #9f9f9f;
        border-bottom-color: transparent !important;
        border-right-color: transparent !important;
        border-left-color: transparent !important;
      }
    }
    [data-expand="false"] {
      > a {
        border: solid 5px #9f9f9f;
        border-bottom-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
      }
    }
    [data-loading] {
      &::before,&::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 35px;
        transform: translateY(-50%);
        opacity: 0;
        width: 15px;
        height: 15px;
        border: 2px solid #575757;
        border-radius: 50%;
        animation: loadingScale 1s linear infinite ;
      }
      &::after {
        animation: loadingScale 1s linear 0.5s infinite ;
      }
      @keyframes loadingScale {
        0% {
          transform: translateY(-50%) scale(0.1);
          opacity: 1;
        }
        100% {
          transform: translateY(-50%) scale(1);
          opacity: 0;
        }
      }
    }
  }
}

